:root {
  --key_height: 60px;
  --keys_container_width: 448px;
  --buttons_container_width: 440px;
  --button_width:110px;
}

* {
  box-sizing: border-box;
}

html {
  height:100%;
}

body {
  box-sizing: border-box;
  width:100%;
  height:100%;
  background-color: skyBlue;

}

#app_container {
  height:100%;
}

#keys_container {
  box-sizing: border-box;

}

.key {
  box-sizing: border-box;
  padding: 0px;
  position: relative;
  border: none;
  margin: 1%;
  width:12%;
  height: var(--key_height);
  cursor:pointer;
}

#b {
  margin-left: :1%;
  margin-right: 0px;
}

#c {
  background-color: green;
  margin-left: :0px;
  margin-right: 1%;
}

.flats .key {
  transform: translate(52%);
  background-color:black;
  color: white;
}

#gb, #ab, #bb {
  transform: translate(154%);
}

.naturals .key {
  background-color:white;
  color: black;
}

.key:hover{
  background-color:grey;
  cursor: pointer;
}

#settings_container, #edit_progression_buttons, #arrow_container {
  width:100%;
}

.edit  {
  width: 27%;
  margin: 2%;
}

.quality {
  margin:1%;
}

.active_quality {
  background-color: darkGreen;
}

.active_quality:hover {
  background-color: darkGreen;
}

#progression {
  min-height: 18%;
  border:black 2px solid;
}

#prog {
  color:white;
  background-color: #007bff;
  font-size: 1em;
}

.chord {
  color:white;
  background-color: gray;
  width: 60px;
  margin:2px;
  /* font-size: 20px; */
}

#current_chord {
  color:blue;
}

.arrow  {
  margin: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
